.wrapper {
  :global {
    .am-list-body:before,
    .am-list-body:after,
    .am-list-item:last-child:after {
      content: none !important;
    }
    .am-list-content {
      flex: 0 !important;
      min-width: 85px;
      padding-right: 5px;
    }
    .am-list-extra {
      flex: 1;
      text-align: left !important;
    }
  }
}
