@import "~normalize.css/normalize.css";
@import "~antd-mobile/dist/antd-mobile.min.css";
@import "../../styles/variables";
@import "../../styles/utilities";

html,
body {
  font-family: $font-family;
  font-size: $font-size-base;
  margin: 0;
  color: $grey-9;
}

html {
  height: 100%;
}

body {
  background: $background;
  min-height: 100%;
}
