.wrapper {
  :global {
    .am-list-body:before,
    .am-list-body:after,
    .am-list-item:last-child:after {
      content: none !important;
    }
    .am-list-content {
      flex: 0 !important;
      min-width: 85px;
      padding-right: 5px;
    }
    .am-list-extra {
      flex: 1;
      text-align: left !important;
    }
  }
  .input-wrap {
    margin: 30px 8px 8px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .02) 0 0 0 1px, rgba(0, 0, 0, .04) 0 6px 20px 0, rgba(0, 0, 0, 0.07) 0 1px 3px 0;
  }
  .submit {
    margin: 20px 8px 8px;
  }
}
